<!DOCTYPE html>
<html lang="en">
<head>
    <title>items</title>
</head>
<body>
    <div>
        <form action="/items" method="post">
            <label for="name"> item name: </label>
            <input type="text" id="name" name="name" required>
            
            <label for="price">item price</label>
            <input type="text" name="price" id="price"required>

            <label for="description"> item description</label>
            <textarea name="description" id="description" required></textarea>

            <button>Submit</button>

        </form>
    </div>
</body>
</html>